/** FONTS **/
/** widths **/
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 18, ../Sass/base.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* line 23, ../Sass/base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 33, ../Sass/base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 38, ../Sass/base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 47, ../Sass/base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 61, ../Sass/base.scss */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 73, ../Sass/base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 83, ../Sass/base.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 91, ../Sass/base.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 103, ../Sass/base.scss */
.icon {
  background-repeat: no-repeat;
}
/* line 106, ../Sass/base.scss */
.icon.snowflake {
  background-image: url("/images/snowflake.png");
}
/* line 109, ../Sass/base.scss */
.icon.sound {
  background-image: url("/images/sound.png");
}
/* line 112, ../Sass/base.scss */
.icon.wifi {
  background-image: url("/images/wifi.png");
}
/* line 115, ../Sass/base.scss */
.icon.bed {
  background-image: url("/images/bed.png");
}
/* line 118, ../Sass/base.scss */
.icon.user {
  background-image: url("/images/user.png");
}

/* line 124, ../Sass/base.scss */
body {
  background: url("../images/booking.png") no-repeat center 0;
}

/* line 128, ../Sass/base.scss */
#booking {
  margin: 0 auto;
  width: 1123px;
}

/* line 134, ../Sass/base.scss */
.room-table {
  float: left;
  margin: 1410px 0 0 20px;
  max-width: 1024px;
  position: relative;
  font-size: 12px;
  width: 814px;
}
/* line 142, ../Sass/base.scss */
.room-table h3 {
  background: none repeat scroll 0 center transparent;
  color: #003580;
  font-size: 1.6em;
  font-weight: normal;
  padding: 0.5em 0.5em 0.5em 0;
  text-transform: none;
}
/* line 150, ../Sass/base.scss */
.room-table figure {
  padding: 0;
  margin: 0;
  display: block;
}
/* line 154, ../Sass/base.scss */
.room-table figure img {
  max-width: 814px;
  width: 260px;
  height: 173px;
}
/* line 169, ../Sass/base.scss */
.room-table .cards {
  display: table;
  padding-bottom: 100px;
  position: relative;
  width: 100%;
}
/* line 175, ../Sass/base.scss */
.room-table .cards .card {
  background-color: #c6d4e9;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  min-height: 400px;
  margin: 0 2% 2% 0;
  padding-bottom: 30px;
  width: -webkit-calc(96% / 3);
  width: -moz-calc(96% / 3);
  width: calc(96% / 3);
}
/* line 187, ../Sass/base.scss */
.room-table .cards .card:nth-child(3n+3) {
  margin-right: 0;
}
/* line 192, ../Sass/base.scss */
.room-table .cards .card:nth-child(3n+3) .conditions li .tooltip {
  left: -webkit-calc(-100% - 90px);
  left: -moz-calc(-100% - 90px);
  left: calc(-100% - 90px);
  right: auto;
}
/* line 198, ../Sass/base.scss */
.room-table .cards .card:nth-child(3n+3) .conditions li .tooltip:before, .room-table .cards .card:nth-child(3n+3) .conditions li .tooltip:after {
  border-width: 15px 0 15px 15px;
  left: auto;
  right: -16px;
}
/* line 203, ../Sass/base.scss */
.room-table .cards .card:nth-child(3n+3) .conditions li .tooltip:after {
  right: -15px;
}
/* line 210, ../Sass/base.scss */
.room-table .cards .card .info {
  padding: 0 8px 6px;
}
/* line 213, ../Sass/base.scss */
.room-table .cards .card .info h4 {
  color: #0896ff;
  margin-bottom: 12px;
  display: block;
  font-size: 15px;
  text-decoration: none;
  text-indent: 3px;
}
/* line 221, ../Sass/base.scss */
.room-table .cards .card .info .icon {
  background-position: 50% 50%;
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  margin-top: -2px;
  vertical-align: middle;
  width: 15px;
}
/* line 230, ../Sass/base.scss */
.room-table .cards .card .info .other {
  color: #537cb4;
  margin: 0 4px 15px;
}
/* line 233, ../Sass/base.scss */
.room-table .cards .card .info .other p {
  margin: 4px 0;
}
/* line 235, ../Sass/base.scss */
.room-table .cards .card .info .other p + p {
  color: #003580;
}
/* line 244, ../Sass/base.scss */
.room-table .cards .card .options {
  margin-bottom: 6px;
}
/* line 247, ../Sass/base.scss */
.room-table .cards .card .options span {
  background-color: #64B108;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  line-height: 16px;
  margin: 2px;
  padding: 4px 6px;
}
/* line 256, ../Sass/base.scss */
.room-table .cards .card .options .icon {
  height: 14px;
  margin-top: -1px;
}
/* line 263, ../Sass/base.scss */
.room-table .cards .card .conditions {
  list-style: none;
  margin: 0;
  padding: 0 10px;
}
/* line 268, ../Sass/base.scss */
.room-table .cards .card .conditions li {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
}
/* line 277, ../Sass/base.scss */
.room-table .cards .card .conditions li:hover {
  background-color: #fff;
}
/* line 280, ../Sass/base.scss */
.room-table .cards .card .conditions li:hover .tooltip {
  display: block !important;
}
/* line 284, ../Sass/base.scss */
.room-table .cards .card .conditions li .room {
  display: table;
  padding: 4px 4px 4px 6px;
  position: relative;
}
/* line 289, ../Sass/base.scss */
.room-table .cards .card .conditions li .room > span {
  display: table-cell;
  vertical-align: middle;
}
/* line 293, ../Sass/base.scss */
.room-table .cards .card .conditions li .room > span.icons {
  padding-right: 2px;
  width: 32px;
}
/* line 297, ../Sass/base.scss */
.room-table .cards .card .conditions li .room > span.icons .icon {
  display: block;
  float: left;
  height: 10px;
  margin-right: 0;
  width: 8px;
}
/* line 306, ../Sass/base.scss */
.room-table .cards .card .conditions li .room > span.price {
  display: table-cell;
}
/* line 309, ../Sass/base.scss */
.room-table .cards .card .conditions li .room > span.price .discount {
  font-size: 10px;
  line-height: 10px;
  display: block;
}
/* line 314, ../Sass/base.scss */
.room-table .cards .card .conditions li .room > span.price .discount span {
  color: #005d8a;
  margin-right: 6px;
  text-decoration: line-through;
}
/* line 319, ../Sass/base.scss */
.room-table .cards .card .conditions li .room > span.price .discount strong {
  color: #599c07;
  font-weight: bold;
}
/* line 326, ../Sass/base.scss */
.room-table .cards .card .conditions li .room > span.btn {
  display: table-cell;
  width: 1%;
}
/* line 330, ../Sass/base.scss */
.room-table .cards .card .conditions li .room > span.btn > a {
  background-color: #003ab7;
  border: 0 none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: block;
  margin-left: 20px;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 343, ../Sass/base.scss */
.room-table .cards .card .conditions li .room > span.btn > a:hover {
  background-color: #1e65ff;
}
/* line 353, ../Sass/base.scss */
.room-table .cards .card .conditions li .tooltip {
  background: #FFF0CA;
  border: #EEAE01 solid 1px;
  color: #705A3F;
  display: block;
  height: auto;
  opacity: 0;
  padding: 15px;
  position: absolute;
  right: -webkit-calc(-100% - 90px);
  right: -moz-calc(-100% - 90px);
  right: calc(-100% - 90px);
  width: 280px;
  z-index: 999;
}
/* line 369, ../Sass/base.scss */
.room-table .cards .card .conditions li .tooltip.hover {
  opacity: 1;
}
/* line 372, ../Sass/base.scss */
.room-table .cards .card .conditions li .tooltip:before {
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #EEAE01;
  content: '';
  display: block;
  left: -16px;
  margin-top: -14px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 0;
}
/* line 385, ../Sass/base.scss */
.room-table .cards .card .conditions li .tooltip:after {
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFF0CA;
  content: '';
  display: block;
  left: -15px;
  margin-top: -13.5px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 1;
}
/* line 398, ../Sass/base.scss */
.room-table .cards .card .conditions li .tooltip h5 {
  font-size: 110%;
  margin: 0.8em 0 0.5em;
}
/* line 402, ../Sass/base.scss */
.room-table .cards .card .conditions li .tooltip h5:first-child {
  margin-top: 0;
}
/* line 406, ../Sass/base.scss */
.room-table .cards .card .conditions li .tooltip p {
  margin: 0 0 0.3em;
}
/* line 410, ../Sass/base.scss */
.room-table .cards .card .conditions li .tooltip .highlight {
  color: #64B108;
}
/* line 418, ../Sass/base.scss */
.room-table .cards .card .conditions .final {
  line-height: 18px;
  font-weight: bold;
  color: #0796ff;
}
/* line 422, ../Sass/base.scss */
.room-table .cards .card .conditions .final em {
  font-size: 10px;
  font-style: normal;
  margin-right: 1px;
}
/* line 427, ../Sass/base.scss */
.room-table .cards .card .conditions .final span {
  font-size: 16px;
}

/* line 439, ../Sass/base.scss */
.bookings {
  background: #537cb4;
  border: 1px solid #003580;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  float: left;
  margin-top: 1410px;
  width: 254px;
  padding: 10px 5px;
  position: relative;
}
/* line 449, ../Sass/base.scss */
.bookings h3 {
  color: #D0DBED;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 25px;
}
/* line 456, ../Sass/base.scss */
.bookings h4 {
  color: #fff;
  display: none;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}
/* line 464, ../Sass/base.scss */
.bookings .price {
  background: #64B108;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  display: block;
  right: 15px;
  padding: 20px 20px 5px 20px;
  position: absolute;
  top: -15px;
  white-space: nowrap;
}
/* line 477, ../Sass/base.scss */
.bookings .price:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #4e8a06;
  display: block;
  width: 0;
  z-index: 1;
  left: -8px;
  transform: rotate(-135deg);
  top: 1%;
}
/* line 490, ../Sass/base.scss */
.bookings .price i {
  font-size: 140%;
  font-style: normal;
}
/* line 495, ../Sass/base.scss */
.bookings .price small {
  display: block;
  font-size: 70%;
  font-weight: 100;
  opacity: .7;
  text-align: right;
}
/* line 505, ../Sass/base.scss */
.bookings ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
/* line 510, ../Sass/base.scss */
.bookings ul li {
  display: block;
}
/* line 513, ../Sass/base.scss */
.bookings ul li a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  cursor: default;
  display: block;
  font-size: 14px;
  padding: 3px 5px;
  position: relative;
  text-decoration: none;
}
/* line 524, ../Sass/base.scss */
.bookings ul li a:hover {
  background: #003580;
}
/* line 527, ../Sass/base.scss */
.bookings ul li a:hover span.delete {
  opacity: 1;
  right: -30px;
}
/* line 533, ../Sass/base.scss */
.bookings ul li a span {
  display: table-cell;
  vertical-align: middle;
}
/* line 537, ../Sass/base.scss */
.bookings ul li a span.name {
  width: 80%;
}
/* line 540, ../Sass/base.scss */
.bookings ul li a span.qtd {
  width: 20%;
}
/* line 543, ../Sass/base.scss */
.bookings ul li a span.qtd input {
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: right;
  padding: 8px 12px;
  width: 28px;
  position: relative;
  z-index: 60;
}
/* line 554, ../Sass/base.scss */
.bookings ul li a span.delete {
  background: #003580;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  opacity: 0;
  padding: 3px 0;
  position: absolute;
  right: -20px;
  text-align: center;
  top: 0;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-in-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-in-out;
  -ms-transition: opacity 0.3s linear, right 0.3s ease-in-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-in-out;
  transition: opacity 0.3s linear, right 0.3s ease-in-out;
  width: 37px;
  z-index: 50;
}
/* line 573, ../Sass/base.scss */
.bookings ul li a span.delete i {
  background: url("../images/close.png") no-repeat 50% 50%;
  display: block;
  height: 33px;
  width: 33px;
}
/* line 590, ../Sass/base.scss */
.bookings .btn-book-now {
  background: #08a3ff;
  border: 2px solid #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: arial;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  margin: 10px 0;
}
/* line 604, ../Sass/base.scss */
.bookings p {
  font-size: 11px;
  color: #D59F82;
  text-align: center;
}
/* line 610, ../Sass/base.scss */
.bookings .confirmation {
  color: #fff;
  margin-top: 5px;
}
/* line 618, ../Sass/base.scss */
.bookings .arrow {
  background: url("../images/arrow.png") no-repeat;
  bottom: -70px;
  display: block;
  height: 58px;
  position: absolute;
  right: 0;
  width: 114px;
}

/* line 630, ../Sass/base.scss */
.transition-linear, .room-table .cards .card .conditions li, .room-table .cards .card .conditions li .room > span.btn > a, .room-table .cards .card .conditions li .tooltip, .bookings ul li a, ul.bjqs-controls.v-centered li a {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 637, ../Sass/base.scss */
.transition-ease {
  -webkit-transition: right 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  -ms-transition: right 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transition: right 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

/* Basic jQuery Slider essential styles */
/* line 648, ../Sass/base.scss */
ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}

/* line 656, ../Sass/base.scss */
li.bjqs-slide {
  position: absolute;
  display: none;
}

/* line 660, ../Sass/base.scss */
ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
/* line 668, ../Sass/base.scss */
ul.bjqs-controls.v-centered li a {
  position: absolute;
  border-top: 6px solid #FFF;
  display: block;
  height: 18px;
  opacity: 0;
  text-decoration: none;
  width: 18px;
}
/* line 678, ../Sass/base.scss */
ul.bjqs-controls.v-centered li a:hover {
  opacity: 0.85;
}
/* line 682, ../Sass/base.scss */
ul.bjqs-controls.v-centered li.bjqs-prev a {
  border-left: 6px solid #FFF;
  transform: rotate(-45deg);
  left: 10px;
}
/* line 687, ../Sass/base.scss */
ul.bjqs-controls.v-centered li.bjqs-next a {
  border-right: 6px solid #FFF;
  transform: rotate(45deg);
  right: 10px;
}
/* line 696, ../Sass/base.scss */
ul.bjqs-controls.v-centered.hover li a {
  opacity: 0.5;
}

/* line 706, ../Sass/base.scss */
ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 712, ../Sass/base.scss */
ol.bjqs-markers.h-centered {
  text-align: center;
}
/* line 715, ../Sass/base.scss */
ol.bjqs-markers li {
  display: inline;
}
/* line 718, ../Sass/base.scss */
ol.bjqs-markers li a {
  display: inline-block;
}

/* line 725, ../Sass/base.scss */
p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers: h5bp.com/u
 */
/* line 743, ../Sass/base.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */
/* line 752, ../Sass/base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 768, ../Sass/base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 782, ../Sass/base.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 798, ../Sass/base.scss */
.clearfix:before, .room-table .cards .card .conditions li:before,
.clearfix:after,
.room-table .cards .card .conditions li:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 804, ../Sass/base.scss */
.clearfix:after, .room-table .cards .card .conditions li:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 831, ../Sass/base.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 840, ../Sass/base.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 845, ../Sass/base.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 849, ../Sass/base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 858, ../Sass/base.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 863, ../Sass/base.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 869, ../Sass/base.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 873, ../Sass/base.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 878, ../Sass/base.scss */
  img {
    max-width: 100% !important;
  }

  /* line 882, ../Sass/base.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 889, ../Sass/base.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
