@import "compass";

/** FONTS **/

/** widths **/
$min-width: 320px;
$max-width: 670px;

:focus{
    outline-color:0;
    outline-style:none;
    outline-width:0;
    font-size: 32px;
}
::selection{
    background-color:#98d4ff;
    color:#FFF;
}
::-moz-selection{
    background-color:#98d4ff;
    color:#FFF;
}
.cf_:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}
.cf_{
    display:inline-block;
}
html[xmlns] .cf_{
    display:block;
}
* html .cf_{
    height:1%;
}
*{
    padding:0;
    margin:0;
}
h1, h2, h3{
    font-weight:normal;
}
body{
    overflow-x:hidden;
    overflow-y:hidden;
    width: 100%;
    height: 100%;
    font: small/1.2 Helvetica,sans-serif;
}

html{
    overflow-x:auto;
    overflow-y:scroll;
    /*-webkit-overflow-scrolling: touch;*/
}
a{
    font-family:small/1.2 Helvetica,sans-serif;
    font-size:11px;
    &:link,&:active,&:hover{
        font-size:inherit;
    }
}
ul {
    list-style: none
}

/*** END RESET ***/

/*** PLACEHOLDERS ***/

%fill-all{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.room-table {
    max-width: 1024px;
    width: 814px;
    margin: 1410px 0 0 365px;
    position: relative;
    font-size: 12px;
    h3{
        background: none repeat scroll 0 center rgba(0, 0, 0, 0);
        color: #003580;
        font-size: 1.6em;
        font-weight: normal;
        padding: 0.5em 0.5em 0.5em 0;
        text-transform: none;
    }
    figure{
        display: block;
        img{
            width:260px;
            height:173px;
            width:100%;
        }
    }
    .comon{

    }
    .nome{
        color: #0896ff;
        margin-bottom: 12px;
        display: block;
        font-size: 15px;
        text-decoration: none;
        text-indent: 3px;
        &:hover{
            text-decoration: underline;
        }
    }
    .filter{

    }
    .table{

    }
    .cards{
        display: table;
        position: relative;
        width: 100%;
    }
    .card{
        display: block;
        float: left;
        min-height: 400px;
        padding-bottom: 30px;
        padding-top: 30px;
        width: calc(96% / 3);
        margin-bottom:2%;
        @include box-sizing(border-box);
        &:nth-child(2){
            margin:0 2%;            
        }
        &:hover{
            cursor:pointer;
            a{
                text-decoration: underline;
            }
        }
    }
    .main{
        margin-bottom: 14px;
    }
    .info{
        padding: 0 8px 6px;
    }
    .icon{
        background-position:50% 50%;
        display: inline-block;
        height: 15px;
        margin-right: 4px;
        vertical-align: text-top;
        width: 15px;
        margin-top: -2px;
    }
    .container{
        background-color: #c6d4e9;
    }
    .conditions{
        margin-bottom: 6px;
        span{
            background-color: #64b108;
            color: #fff;
            display: inline-block;
            line-height: 16px;
            margin: 2px;
            padding: 4px 6px;
        }
        .icon{
            height:14px;
            margin-top: -1px;
        }
    }
    .other{
        color: #537cb4;
        margin-left: 3px;
        margin-bottom: 25px;
        p{
            margin-bottom: 6px;
            &:nth-child(even){
                color:#003580;
            }
        }
    }
    .buy-it{
        
    }
    .line{
        line-height: 30px;
        position: relative;
        width: 100%;
        padding: 6px 8px;
        cursor: pointer;
        @include box-sizing(border-box);
        &:hover{
            background-color: #fff;
            button{
                color:#586e9d;
            }
        }
        .icons{
            float: left;
            margin-right: 2px;
            min-width: 16px;
        }
        .icon{
            display: inline-block;
            height: 10px;
            margin-left: -4px;
            margin-right: 0;
            width: 8px;
        }
        button{
            background-color: #003ab7;
            border: 0 none;
            color: #fff;
            float: right;
            padding: 7px 10px;
            text-transform: uppercase;
            border-radius:3px;
        }
    }
    .price{
        float: left;
    }
    .discount{
        font-size: 10px;
        line-height: 10px;
        span{
            color: #005d8a;
            margin-right: 6px;
            text-decoration: line-through;
        }
        strong{
            color:#599c07;
            font-weight: bold;
        }
    }
    .final{
        line-height: 18px;
        font-weight: bold;
        color: #0796ff;
        em{
            font-size: 10px;
            font-style: normal;
            margin-right: 1px;
        }
        span{
            font-size: 16px;
        }
    }
}

.icon{
    background-repeat: no-repeat;
    &.snowflake{
        background-image:url(/images/snowflake.png);
    }
    &.sound{
        background-image:url(/images/sound.png);    
    }
    &.wifi{
        background-image:url(/images/wifi.png);        
    }
    &.bed{
        background-image:url(/images/bed.png);        
    }
    &.user{
        background-image:url(/images/user.png);        
    }
}

body {
    background: url('../images/booking.png') no-repeat 0 0;
}

