@import "compass";

/** FONTS **/

/** widths **/
$min-width: 320px;
$max-width: 670px;
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.icon {
    background-repeat: no-repeat;

    &.snowflake {
        background-image:url("/images/snowflake.png");
    }
    &.sound {
        background-image:url("/images/sound.png");
    }
    &.wifi {
        background-image:url("/images/wifi.png");
    }
    &.bed {
        background-image:url("/images/bed.png");
    }
    &.user {
        background-image:url("/images/user.png");
    }
    
}

body {
    background: url("../images/booking.png") no-repeat center 0;
}

#booking {
    margin: 0 auto;
    width: 1123px;
}


.room-table {
    float: left;
    margin: 1410px 0 0 20px;
    max-width: 1024px;
    position: relative;
    font-size: 12px;
    width: 814px;

    h3 {
        background: none repeat scroll 0 center rgba(0, 0, 0, 0);
        color: #003580;
        font-size: 1.6em;
        font-weight: normal;
        padding: 0.5em 0.5em 0.5em 0;
        text-transform: none;
    }
    figure {
        padding: 0;
        margin: 0;
        display: block;
        img {
            max-width:814px;
            width:260px;
            height:173px;
        }
    }
    .comon {

    }
    .filter {

    }
    .table {

    }
    .cards {
        display: table;
        padding-bottom: 100px;
        position: relative;
        width: 100%;

        .card {
            background-color: #c6d4e9;
            @include box-sizing(border-box);
            display: block;
            float: left;
            min-height: 400px;
            margin: 0 2% 2% 0;
            padding-bottom: 30px;
            width: -webkit-calc(96% / 3);
            width: -moz-calc(96% / 3);
            width: calc(96% / 3);

            &:nth-child(3n+3) {
                margin-right: 0;

                .conditions {
                    li {
                        .tooltip {
                            left: -webkit-calc(-100% - 90px);
                            left: -moz-calc(-100% - 90px);
                            left: calc(-100% - 90px);
                            right: auto;

                            &:before, &:after {
                                border-width: 15px 0 15px 15px;
                                left: auto;
                                right: -16px;
                            }
                            &:after {
                                right: -15px;
                            }
                        }
                    }
                }
            }
            .info {
                padding: 0 8px 6px;

                h4 {
                    color: #0896ff;
                    margin-bottom: 12px;
                    display: block;
                    font-size: 15px;
                    text-decoration: none;
                    text-indent: 3px;
                }
                .icon {
                    background-position: 50% 50%;
                    display: inline-block;
                    height: 16px;
                    margin-right: 4px;
                    margin-top: -2px;
                    vertical-align: middle;
                    width: 15px;
                }
                .other {
                    color: #537cb4;
                    margin: 0 4px 15px;
                    p {
                        margin: 4px 0;
                        & + p {
                            color:#003580;
                        }
                    }
                }

            }


            .options {
                margin-bottom: 6px;

                span {
                    background-color: #64B108;
                    @include border-radius(3px);
                    color: #fff;
                    display: inline-block;
                    line-height: 16px;
                    margin: 2px;
                    padding: 4px 6px;
                }
                .icon {
                    height:14px;
                    margin-top: -1px;
                }

            }

            .conditions {
                list-style: none;
                margin: 0;
                padding: 0 10px;
                
                li {
                    @include border-radius(4px);
                    @include box-sizing(border-box);
                    display: block;
                    position: relative;
                    width: 100%;
                    @extend .clearfix;
                    @extend .transition-linear;

                    &:hover{
                        background-color: #fff;

                        .tooltip {
                            display: block !important;
                        }
                    }
                    .room {
                        display: table;
                        padding: 4px 4px 4px 6px;
                        position: relative;

                        > span {
                            display: table-cell;
                            vertical-align: middle;
                            
                            &.icons {
                                padding-right: 2px;
                                width: 32px;

                                .icon {
                                    display: block;
                                    float: left;
                                    height: 10px;
                                    margin-right: 0;
                                    width: 8px;
                                }

                            }
                            &.price {
                                display: table-cell;

                                .discount {
                                    font-size: 10px;
                                    line-height: 10px;
                                    display: block;

                                    span {
                                        color: #005d8a;
                                        margin-right: 6px;
                                        text-decoration: line-through;
                                    }
                                    strong {
                                        color:#599c07;
                                        font-weight: bold;
                                    }
                                }

                            }
                            &.btn {
                                display: table-cell;
                                width: 1%;

                                > a {
                                    background-color: #003ab7;
                                    border: 0 none;
                                    @include border-radius(3px);
                                    color: #fff;
                                    display: block;
                                    margin-left: 20px;
                                    padding: 7px 10px;
                                    text-align: center;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    @extend .transition-linear;

                                    &:hover {
                                        background-color: lighten(#003ab7, 20%);
                                    }
                                }

                            }

                        }

                    }
                    .tooltip {
                        background: #FFF0CA;
                        border: #EEAE01 solid 1px;
                        color: #705A3F;
                        display: block;
                        height: auto;
                        opacity: 0;
                        padding: 15px;
                        position: absolute;
                        right: -webkit-calc(-100% - 90px);
                        right: -moz-calc(-100% - 90px);
                        right: calc(-100% - 90px);
                        @extend .transition-linear;
                        width: 280px;
                        z-index: 999;

                        &.hover {
                            opacity: 1;
                        }
                        &:before {
                            border-style: solid;
                            border-width: 15px 15px 15px 0;
                            border-color: transparent #EEAE01;
                            content: '';
                            display: block;
                            left: -16px;
                            margin-top: -14px;
                            position: absolute;
                            top: 50%;
                            width: 0;
                            z-index: 0;
                        }
                        &:after {
                            border-style: solid;
                            border-width: 15px 15px 15px 0;
                            border-color: transparent #FFF0CA;
                            content: '';
                            display: block;
                            left: -15px;
                            margin-top: -13.5px;
                            position: absolute;
                            top: 50%;
                            width: 0;
                            z-index: 1;
                        }
                        h5 {
                            font-size: 110%;
                            margin: 0.8em 0 0.5em;

                            &:first-child {
                                margin-top: 0;
                            }
                        }
                        p {
                            margin: 0 0 0.3em;

                        }
                        .highlight {
                            color: #64B108;
                        }

                    }

                }

                .final {
                    line-height: 18px;
                    font-weight: bold;
                    color: #0796ff;
                    em {
                        font-size: 10px;
                        font-style: normal;
                        margin-right: 1px;
                    }
                    span {
                        font-size: 16px;
                    }
                }

            }

        }

    }

}
.bookings {
    background: #537cb4;
    border: 1px solid #003580;
    float: left;
    margin-top: 1410px;
    width: 254px;
    border-radius: 7px;
    padding: 10px 5px;
    position: relative;

    h3 {
        color: #D0DBED;
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 25px;
    }

    h4 {
        color: #fff;
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .price {
        position: absolute;
        top: -15px;
        background: #64B108;
        display: block;
        width: 73px;
        color: #fff;
        padding: 20px 10px 5px 10px;
        left: 150px;
        border: 2px solid #fff;
        border-radius: 5px;

        i {
            font-size: 20px;
            font-style: normal;
        }

        small {
            text-align: right;
            display: block;
            padding-right: 4px;
            font-weight: 100;
            opacity: .7;
        }
    }



    li {
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        padding: 10px 7px;
        position: relative;

        &:hover {
            background: #003580;
        }
    }

    .btn-book-now {
        background: #08a3ff;
        border: 2px solid #fff;
        border-radius: 5px;
        color: #fff;
        display: block;
        font-family: arial;
        padding: 12px 0;
        text-align: center;
        text-decoration: none;
        font-size: 19px;
        margin: 10px 0;
    }

    p {
        font-size: 11px;
        color: #D59F82;
        text-align: center;
    }

    .confirmation {
        color: #fff;
        margin-top: 5px;
    }

    ul, .price, .btn-book-now, p {
        display: none !important;
    }
}


.transition-linear {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


/* Basic jQuery Slider essential styles */

ul.bjqs {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: none;
 }
li.bjqs-slide {
    position: absolute;
    display: none;
 }
ul.bjqs-controls {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 9999;

    &.v-centered {
        li {
            a {
                position: absolute;
                border-top: 6px solid #FFF;
                display: block;
                height: 18px;
                opacity: 0;
                text-decoration: none;
                @extend .transition-linear;
                width: 18px;

                &:hover {
                    opacity: 0.85;
                }
            }
            &.bjqs-prev a {
                border-left: 6px solid #FFF;
                transform: rotate(-45deg);
                left: 10px;
            }
            &.bjqs-next a {
                border-right: 6px solid #FFF;
                transform: rotate(45deg);
                right: 10px;
            }
            
        }
        &.hover {
            li {
                a {
                    opacity: 0.5;
                }
            }
        }

    }


}
ol.bjqs-markers {
    list-style: none;
    padding: 0;
    margin: 0;
    width:100%;

    &.h-centered {
        text-align: center;
    }
    li {
        display:inline;

        a {
            display:inline-block;
        }

    }

 }
p.bjqs-caption {
    display:block;
    width:96%;
    margin:0;
    padding:2%;
    position:absolute;
    bottom:0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}